doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Cobitis#{title_suffix}
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/picocss/1.5.2/pico.min.css"
      integrity="sha512-3gFq2IXMVlAQaUyahzhjDRivv0yqyXTb7xiy6ivTaG5Uz4hKI54uYxpQefdomgDVQ11eJVUbXG0YdPMDISiGgg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer")
    link(rel="stylesheet" href="/css/style.css")
    link(rel="manifest" href="manifest.webmanifest")
    link(rel="icon"
      type="image/svg+xml"
      href="data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22enable-background%3Anew%200%200%20512%20512%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M298.464%2054.972c0-23.452-19.011-42.464-42.464-42.464-23.452%200-42.464%2019.011-42.464%2042.464V186.35h84.927V54.972h.001z%22%20style%3D%22fill%3A%23fff%22%2F%3E%3Cpath%20d%3D%22M298.464%20358.076V186.348h-84.927v171.727c-20.857%2013.796-34.623%2037.449-34.623%2064.33%200%2042.574%2034.512%2077.087%2077.087%2077.087s77.087-34.512%2077.087-77.087c-.001-26.879-13.767-50.533-34.624-64.329z%22%20style%3D%22fill%3A%23ff7876%22%2F%3E%3Cpath%20d%3D%22M310.972%20351.666V54.973C310.972%2024.661%20286.311%200%20256%200s-54.972%2024.661-54.972%2054.972v296.693c-21.798%2016.933-34.623%2042.898-34.623%2070.739C166.405%20471.807%20206.598%20512%20256%20512s89.595-40.193%2089.595-89.595c0-27.841-12.825-53.805-34.623-70.739zM226.044%2054.972c0-16.517%2013.439-29.956%2029.956-29.956s29.956%2013.439%2029.956%2029.956V86.92h-25.795c-6.91%200-12.508%205.599-12.508%2012.508s5.599%2012.508%2012.508%2012.508h25.795v12.975h-25.795c-6.91%200-12.508%205.599-12.508%2012.508s5.599%2012.508%2012.508%2012.508h25.795v23.912h-59.912V54.972zM256%20486.984c-35.61%200-64.579-28.969-64.579-64.579%200-21.731%2010.847-41.881%2029.014-53.898a12.504%2012.504%200%200%200%205.607-10.432V198.856h59.912v159.219c0%204.199%202.106%208.115%205.607%2010.432%2018.168%2012.018%2029.014%2032.168%2029.014%2053.898.004%2035.61-28.965%2064.579-64.575%2064.579z%22%20style%3D%22fill%3A%2358595b%22%2F%3E%3Cpath%20d%3D%22M293.001%20409.897c-6.91%200-12.508%205.599-12.508%2012.508%200%2013.505-10.987%2024.493-24.493%2024.493-6.91%200-12.508%205.599-12.508%2012.508s5.599%2012.508%2012.508%2012.508c27.299%200%2049.509-22.208%2049.509-49.509%200-6.908-5.6-12.508-12.508-12.508z%22%20style%3D%22fill%3A%2358595b%22%2F%3E%3C%2Fsvg%3E")
    script(defer) if ("serviceWorker" in navigator) { navigator.serviceWorker.register("/sw.js"); }

    block header

body
  block contents

